
   <h1> <%=title %> of Home Page</h1>


   <section id="feed-posts">
      <h4>Posts</h4>
      <form action="/post/create" id="new-form-post" method="POST">
         <textarea name="content"  cols="30" rows="3"></textarea>
         <input type="submit" value="Post">
      </form>
   </section>